// 广告位
.page_ad{
    .big{
        width: 1200px;
        height: 300px;
        margin-bottom: 10px;
    }
    a{
        display: block;
        float: left;
    }
    a:hover{
        box-shadow:0px 0px 7px #444;
    }
    .mr{
        margin-right: 10px;
    }
    .medium{
        width: 405px;
        height: 180px;
    }
    .samll{
        width: 180px;
        height: 180px;
    }
}
.filter{
    padding: 5px 10px;
    margin: 20px 0;
    background: #eaeaea;
    .filter_sort{
        .on{
            background: #eee;
        }
        a{
            display: block;
            float: left;
            height: 18px;
            line-height: 18px;
            margin-left: -1px;
            padding: 5px 10px;
            border: 1px solid #c7c7c7;
            background: #fff;
            i{
                width: 10px;
                height: 16px;
                margin-left: 3px;
                background: url('./img/filter_icon.png') no-repeat 0 0;
            }
        }
        .price i {
            background-position: -20px 0;
        }
    }
}
.goods_list{
    ul{
        overflow: hidden;
        zoom: 1;
        margin-left: -13px;
    }
    .product_item{
        float: left;
        position: relative;
        width: 290px;
        margin: 15px 0 0 13px;
        background: #fff;
        .pro_img{
            position: relative;
            width: 290px;
            height: 290px;
        }
        .pro_info{
            padding: 10px;
            height: 48px;
        }
        .pro_name{
            height: 16px;
            margin-bottom: 10px;
            line-height: 16px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .pro_price{
            height: 22px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            .price{
                font-size: 18px;
                color: #e7380d;
                vertical-align: middle;
            }
        }
        .pro_buy{
            display: none;
            position: absolute;
            left: 0;
            bottom: 68px;
            width: 270px;
            padding: 10px;
            text-align: center;
            background: rgba(255, 255, 255, 0.9);
            span{
                display: block;
                width: 270px;
                line-height: 16px;
                margin-bottom: 10px
            }
        }
        .btn_buy {
            display: block;
            width: 180px;
            height: 25px;
            margin: 0 auto;
            line-height: 25px;
            color: #fff;
            background: #008742;
            border-radius: 4px;
        }
    }
    
    .pag{
        float: right;
        a{
            width: 20px;
            font-size: 15px;
            height: 20px;
            line-height: 20px;
            float: left;
            margin-left: 3px;
            margin-top: 12px;
            text-align: center;
            border: 1px solid rgba($color: #444, $alpha: 0.3);
            background: rgba($color: #ccc, $alpha: 0.1);
        }
        .active{
            background: #3cec91;
        }
    }
}