.crumbs {
  margin: 10px 0;
  margin-left: -10px; }
  .crumbs a {
    margin: 0 10px; }

.content {
  margin-bottom: 20px; }

.pic_preview {
  float: left;
  width: 500px;
  height: 600px; }
  .pic_preview .pic_big {
    width: 500px;
    height: 500px;
    overflow: hidden;
    cursor: Move; }
  .pic_preview .pic_thumb {
    z-index: 1;
    overflow: hidden;
    position: relative; }
    .pic_preview .pic_thumb .pic_list {
      padding-top: 10px;
      width: 500px; }
      .pic_preview .pic_thumb .pic_list ul {
        zoom: 1;
        margin-left: -16px; }
      .pic_preview .pic_thumb .pic_list li {
        float: left;
        overflow: hidden;
        height: 85px;
        width: 85px;
        border: 1px solid #bcbcbc;
        margin-left: 16px;
        cursor: pointer; }

.pro_info {
  width: 680px;
  margin-left: 520px; }

.sum_name {
  margin: 0 85px 20px 0; }
  .sum_name h1 {
    font: normal 26px "Microsoft YaHei"; }
  .sum_name p {
    height: 40px;
    margin-top: 5px;
    color: #777;
    font: normal 16px/20px "Microsoft YaHei"; }

.sum_price {
  height: 70px;
  padding: 10px 20px;
  background: #fff; }
  .sum_price .pro_price {
    float: left;
    height: 70px; }
    .sum_price .pro_price span {
      display: inline-block;
      padding-left: 5px; }
      .sum_price .pro_price span em {
        padding: 0 5px;
        font-size: 18px;
        color: #ff0000;
        font-style: normal; }
      .sum_price .pro_price span strong {
        color: #ff0000;
        font-size: 35px;
        font-weight: normal; }
  .sum_price .pro_review {
    float: right;
    text-align: center; }
    .sum_price .pro_review a, .sum_price .pro_review p {
      color: #999; }
    .sum_price .pro_review p {
      line-height: 22px; }
    .sum_price .pro_review b {
      color: #e8380d;
      font-size: 18px;
      font-weight: normal;
      vertical-align: middle; }
    .sum_price .pro_review span {
      padding: 0 5px; }

.sum_other {
  margin-top: 20px; }
  .sum_other .dt {
    float: left;
    width: 40px;
    padding: 0 10px; }
  .sum_other .dd {
    float: left;
    width: 468px; }
  .sum_other .sum_fl {
    float: left;
    width: 529px;
    padding-right: 20px;
    border-right: 1px solid #d9d9d9; }
    .sum_other .sum_fl .pro_promo {
      position: relative; }
  .sum_other .choose {
    margin-bottom: 20px; }
    .sum_other .choose .dt {
      line-height: 52px; }
    .sum_other .choose li {
      float: left;
      position: relative;
      margin: 5px 10px 5px 0; }
      .sum_other .choose li a {
        float: left;
        width: auto;
        background-color: #fff;
        white-space: nowrap;
        text-align: center;
        border: 1px solid #e2e2e2;
        border-bottom: none;
        text-decoration: none; }
      .sum_other .choose li span {
        display: block;
        padding: 5px 12px 5px 9px;
        border-bottom: 1px solid #e2e2e2; }
      .sum_other .choose li i {
        z-index: 1;
        display: none;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 16px;
        _width: 11px;
        height: 16px;
        overflow: hidden;
        text-indent: -99em;
        background: url("./img/product.png") no-repeat 0 0; }
    .sum_other .choose li.selected span {
      border-color: #008842; }
    .sum_other .choose li.selected i {
      display: block; }
  .sum_other .pro_service {
    padding-left: 10px;
    color: #999;
    margin-bottom: 20px; }
    .sum_other .pro_service b {
      color: #008842; }
    .sum_other .pro_service i {
      margin-right: 5px; }
  .sum_other .pro_amout {
    margin-bottom: 20px; }
    .sum_other .pro_amout .dt {
      line-height: 43px; }
    .sum_other .pro_amout .dd {
      float: left;
      width: 468px; }
    .sum_other .pro_amout .spinner {
      width: 76px;
      position: relative;
      overflow: hidden;
      float: left; }
      .sum_other .pro_amout .spinner button {
        display: block;
        width: 18px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        float: right;
        position: relative;
        border: 1px solid #e2e2e2;
        background-color: white;
        cursor: pointer; }
      .sum_other .pro_amout .spinner .decrease {
        top: 21px;
        right: 18px;
        border-top: none; }
      .sum_other .pro_amout .spinner input {
        width: 39px;
        height: 39px;
        line-height: 41px;
        font-size: 16px;
        text-align: center;
        border: none;
        border: 1px solid #e2e2e2;
        border-right: none; }
      .sum_other .pro_amout .spinner .increase {
        border-bottom: 1px solid #e2e2e2;
        height: 21px; }
    .sum_other .pro_amout .addCart {
      float: left;
      width: 187px;
      height: 43px;
      margin-left: 10px; }
      .sum_other .pro_amout .addCart a {
        display: block;
        width: 187px;
        height: 25px;
        padding: 9px 0;
        text-align: center;
        font: normal 18px/25px "Microsoft YaHei";
        border-radius: 3px;
        color: #fff;
        background: #008842; }
      .sum_other .pro_amout .addCart i {
        width: 28px;
        height: 25px;
        margin-right: 10px;
        vertical-align: bottom;
        background: url(../css/img/product.png) no-repeat -47px 0; }
  .sum_other .sum_fr {
    float: right;
    width: 120px;
    padding-left: 10px;
    color: #777; }
    .sum_other .sum_fr table {
      border-collapse: collapse;
      border-spacing: 0; }
      .sum_other .sum_fr table th {
        padding: 5px 0;
        width: 65px;
        font-weight: normal;
        text-align: left; }
      .sum_other .sum_fr table td {
        padding-left: 5px; }

.left-con {
  float: left;
  overflow: hidden;
  width: 255px;
  margin-right: 15px; }
  .left-con .box {
    position: relative;
    margin-bottom: 20px;
    border: 1px solid #cde4c0;
    background: #fff; }
  .left-con .hd {
    height: 30px;
    padding: 0 10px;
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    background: #008842; }
  .left-con .bd {
    padding: 0 10px; }
  .left-con .left {
    clear: both;
    position: relative;
    height: 70px;
    padding: 10px 0; }
    .left-con .left > a {
      position: relative;
      float: left;
      width: 68px;
      height: 68px;
      border: 1px solid #dfdfdf; }
    .left-con .left .txt {
      float: left;
      width: 153px;
      margin-left: 10px;
      padding: 4px 0;
      line-height: 20px; }
      .left-con .left .txt p {
        height: 40px;
        margin-bottom: 5px;
        color: #777;
        font-weight: normal; }
      .left-con .left .txt span {
        font-size: 12px;
        color: #e8380d; }
    .left-con .left .add {
      z-index: 1;
      width: 60px;
      height: 15px;
      display: none;
      position: absolute;
      right: 0;
      bottom: 10px;
      font-size: 12px;
      color: #fff;
      padding: 3px 8px;
      background: #008842;
      border-radius: 3px;
      cursor: pointer; }
  .left-con .left:hover .add {
    display: inline; }

.main-con {
  float: right;
  width: 930px; }
  .main-con table {
    border-collapse: collapse;
    border-spacing: 0; }
    .main-con table td {
      color: #666;
      border: 1px solid #e1efd8;
      border-width: 1px 0; }

.detail_tab {
  position: relative;
  height: 40px;
  line-height: 40px;
  border: 1px solid #d4d4d4;
  background: #fff; }
  .detail_tab .detail_ul li.active {
    border-bottom: 2px solid #fff;
    background: url(../css/img/product.png) no-repeat -33px -58px #fff; }
  .detail_tab .detail_ul li {
    position: relative;
    display: block;
    float: left;
    width: 130px;
    margin-top: -1px;
    text-align: center;
    border-right: 1px solid #d4d4d4; }

.details {
  width: 880px;
  padding: 24px; }

.detail_item {
  margin-top: -1px;
  margin-bottom: 20px;
  border: 1px solid #d4d4d4;
  background: #fff; }

.detail_table {
  width: 100%;
  margin: 0 0 20px 0;
  border: 1px solid #e1efd8;
  font-size: 14px;
  font-weight: bold; }
  .detail_table th {
    background: #ebf8f2;
    font-weight: bold;
    padding: 7px;
    width: 180px;
    padding-left: 20px;
    text-align: left;
    color: #666;
    border: 1px solid #e1efd8;
    border-width: 1px 0; }
  .detail_table td {
    padding: 7px 20px; }
